<!doctype html>
<html lang="zh-cn">
  <head>
    <%- include('../../frontEndPartials/header', {title: title}) %>
    <meta name="description" content="墨小数据,墨小科技,墨小协议支付,聚合支付,大额支付, 聚合签约、聚合扣款,协议签约、协议扣款,大额签约、大额扣款,智能分期扣款，智能分次扣款,智能补单，墨小数据信贷产业全周期解决方案。" />
    <link rel="stylesheet" href="/stylesheets/less/contactUs.css">
    <style type="text/css">
      .partners-box .swiper-pagination{
        margin-top: 20px;
        position: relative;
      }
      .partners-box .swiper-pagination-bullet{
        width:30px;
        height:4px;
        background:#666;
        opacity:1;
        border-radius: 0;
      }
      .partners-box .swiper-pagination-bullet-active{
        background:#3577C4;
      }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fbXf9j0aPH4EwxPBaixZ8Ll2rGwMbFe8"></script>
  </head>
  <body>
      <%- include('../../frontEndPartials/headerTop') %>
      <%- include('../../frontEndPartials/headerNav', { menuName: 'contactUs' }) %>
      <div class="contactUs-page">
          <div class="banner">
            <div class="item"><img src="/images/contactUs/banner-1.png"></div>
          </div>
          <div class="about-us">
              <%- include('../../frontEndPartials/partialsTitle', { title: '关于我们', desc: 'About Us' }) %>
              <div class="content mw1200">
                <div class="part-1">
                  <div class="left"></div>
                  <div class="right">
                    <h2 class="title">公司简介</h2>
                    <div class="desc">　　上海墨小数据科技有限公司是一家金融信息服务商，2018年创于上海，致力 于为各大金融机构以及信贷中介提供创新、一站式整体解决方案，利用数据、技 术和信贷经纪管理提升金融服务效率。墨小数据以优质的底层渠道、场景化定制 服务，从而降低合作商的运营、管理成本；通过大数据提升市场透明度，为合作 商提供细分、专业、精准的评级方案，打造资金和资产之间的高速通道；多种金 融服务工具以及渠道管理等方面实现线上操作与管理。</div>
                  </div>
                </div>
                <div class="part-2">
                    <div class="left"><div class="img"></div></div>
                    <div class="right">
                        <h2 class="title">企业文化</h2>
                        <div class="desc">　　我们相信年轻的力量，多元，专业，实践，深耕，梦想，我们拥抱变化，我们探索未知，专业，聚焦金融；职能，引领变革；年轻，定义未来，墨小，让金融变简单。诚信，专业，共赢，我们与生俱来的技术基因，不断的催促着我用技术让金融变简单。我一直在思考，如何更好的为您服务，我创造用户价值，理解您的需求，并尽我所能成就您，和您一起找到更好的答案，我们聚焦金融行业，帮助您更轻松地开展金融业务，不断提升金融体系效率，探索前沿技术，助力金融机构数字化转型。</div>
                      </div>
                </div>
              </div>
          </div>
          <div class="development-path">
              <%- include('../../frontEndPartials/partialsTitle', { title: '发展历程', desc: 'Development Path' }) %>
              <div class="content">
                <div class="content-box mw1200">
                    <div class="left"></div>
                    <div class="right">
                      <div class="steps">
                          <div class="step1">
                              <h2>01 公司历程</h2>
                              <p>● 2018年11月，墨小数据科技公司正式成立；</p>
                              <p>● 2019年3月，墨小数据APP上线，正式实现移动端进件系统与后台客户管理系统实时联动；</p>
                              <p>● 大数据、第三方征信功能正在持续开发中。</p>
                            </div>
                            <div class="step2">
                                <h2>02 未来计划</h2>
                                <p>● 后台可查看多个时段的数据分析；</p>
                                <p>● 节省客户的二次开发成本；</p>
                                <p>● 大数据、第三方征询查询审核贷款资质，更多功能正在持续开发中；</p>
                            </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="service-philosophy">
              <%- include('../../frontEndPartials/partialsTitle', { title: '服务理念', desc: 'Service Philosophy' }) %>
              <div class="content mw1200">
                <div class="item services1-img"></div>
                <div class="item desc">
                  <h2>客户第一</h2>
                  <div class="text">
                      客户的高度认同和充分信赖是公司价值和发展的源泉。坚持以客户为中心，从客户角度出发，深耕行业，用专业服务为客户创造价值，实现公司与客户双赢。
                  </div>
                </div>
                <div class="item services2-img"></div>
                <div class="item desc">
                    <h2>市场第一</h2>
                    <div class="text">市场是通联赖以生存的基础，市场决定通联的命运，把 市场需求作为经营的出发点和落脚点，在市场竞争中不 断提升公司核心竞争力，不断创造优良业绩。</div>
                </div>
                <div class="item services3-img"></div>
                <div class="item desc">
                    <h2>服务第一</h2>
                    <div class="text">提供最适合的服务，不仅仅是一种服务质量的体现，更是一种思考方式，一种行为模式，一种下意识的行为。</div>
                </div>
              </div>
          </div>
          <div class="contact-us">
            <%- include('../../frontEndPartials/partialsTitle', { title: '联系我们', desc: 'Contact Us' }) %>
            <div class="content mw1200">
              <div class="left">
                <div id="l-map" style="width: 100%; height: 100%"></div>
              </div>
              <script type="text/javascript">
                // 百度地图API功能
                function G(id) {
                  return document.getElementById(id);
                }
                var map = new BMap.Map("l-map");
                map.enableScrollWheelZoom();   	//启用滚轮放大缩小，默认禁用
                map.enableContinuousZoom();    	//启用地图惯性拖拽，默认禁用
                var local = new BMap.LocalSearch(map, {
                  renderOptions:{map: map}
                });
                var msearch = '武汉市江岸区福星国际商户大厦2210室';
                local.search(msearch);  //百度地图关键字检索 默认加载一次
              </script>
              <div class="right">
                <div class="address">
                  <p>联系电话：400-676-0009/027-85500630</p>
                  <p>邮政编码：201400</p>
                  <p>官方微信：墨小数据</p>
                  <p>公司官网：www.moxiaoshuju.com</p>
                  <p>公司地址：武汉市江岸区福星国际商户大厦2210室</p>
                </div>
              </div>
            </div>
          </div>
          <div class="major-partner-company">
            <%- include('../../frontEndPartials/partialsTitle', { title: '主要合作公司', desc: 'Major Partner Company' }) %>
            <div class="partners">
              <div class="partners-box mw1200">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <% partners.forEach(function(partner){ %>
                        <div class="item swiper-slide">
                          <div class="name"><%= partner.name %></div>
                          <div class="detail">
                              <p>地址 <%= partner.address %></p>
                              <p>电话 <%= partner.tel %></p>
                              <p>邮箱 <%= partner.email %></p>
                          </div>
                        </div>
                    <% }) %>
                  </div>
                  <div class="Partner swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <%- include('../../frontEndPartials/productCooperations') %>
      <%- include('../../frontEndPartials/knowMore') %>
      <%- include('../../frontEndPartials/footerNav') %>
      <%- include('../../frontEndPartials/footer') %>
      <script>
        $(document).ready(function(){
          var swiper = new Swiper('.partners-box .swiper-container', {
              pagination: '.partners-box .swiper-pagination',
              slidesPerView: 3,
              paginationClickable: true,
              spaceBetween: 5
          });
        });
      </script>
  </body>
</html>