<!doctype html>
<html lang="zh-cn">
  <head>
    <%- include('../../frontEndPartials/header', {title: title}) %>
    <meta name="description" content="墨小数据,墨小科技,墨小协议支付,聚合支付,大额支付, 聚合签约、聚合扣款,协议签约、协议扣款,大额签约、大额扣款,智能分期扣款，智能分次扣款,智能补单，墨小数据信贷产业全周期解决方案。" />
    <link rel="stylesheet" href="/stylesheets/less/home.css">
  </head>
  <body>
    <%- include('../../frontEndPartials/headerTop') %>
    <%- include('../../frontEndPartials/headerNav', { menuName: 'home' }) %>
    <div class="home-page">
      <%- include('../../frontEndPartials/header-banner') %>
      <div class="products">
          <%- include('../../frontEndPartials/partialsTitle', { title: '产品介绍', desc: 'Product Description' }) %>
          <ul class="products-dess mw1200">
            <li class="product-1">
              <!-- <div class="item img"><img src="../../images/home/pro-des-1.png" alt="聚合支付" /></div> -->
              <div class="item img"></div>
              <div class="item desc">
                <div class="title">聚合支付</div>
                <div class="line"><span></span></div>
                <div class="text">聚合签约、聚合扣款</div>
                <a class="link" href="javascript:void(0)">查看详情</a>
              </div>
            </li>
            <li class="product-2">
              <div class="item desc">
                  <div class="title">协议支付</div>
                  <div class="line"><span></span></div>
                  <div class="text">协议签约、协议扣款</div>
                  <a class="link" href="javascript:void(0)">查看详情</a>
              </div>
              <div class="item img"></div>
            </li>
            <li class="product-3">
              <div class="item img"></div>
              <div class="item desc">
                  <div class="title">大额支付</div>
                  <div class="line"><span></span></div>
                  <div class="text">大额签约、大额扣款</div>
                  <a class="link" href="javascript:void(0)">查看详情</a>
              </div>
            </li>
          </ul>
      </div>
      <div class="about-agreement">
          <%- include('../../frontEndPartials/partialsTitle', { title: '关于协议支付', desc: 'About Agreement Payment' }) %>
          <div class="content">
            <div class="blue-bg"></div>
            <div class="detail mw1200">
              <div class="left">
                <h2 class="title">第三方支付公司旗下品牌，更安全，更高效！</h2>
                <p class="desc">
                    <strong>“墨小协议支付”</strong>是墨小数据专注于信贷行业而开发的服务平 台，旨在为信贷公司提供方便、快捷的客户身份识别、签约、协 议扣款及移动支付收款等全流程线上一站式服务，节省业务办理 时间与成本，全面提升信贷公司的客户服务能力。
                </p>
                <div>
                  <a class="btn" href="javascript:void(0);">查看详情</a>
                </div>
              </div>
              <div class="right"></div>
            </div>
          </div>
      </div>
      <div class="products-advantage">
          <%- include('../../frontEndPartials/partialsTitle', { title: '产品优势', desc: 'Product Advantage' }) %>
          <div class="adv-list mw1200">
            <div class="item adv-1">
              <div class="content">
                <div class="img"></div>
                <div class="desc">提高扣款审批效率</div>
              </div>
            </div>
            <div class="item adv-2">
                <div class="content">
                  <div class="img"></div>
                  <div class="desc">提高扣款审批效率</div>
                </div>
            </div>
            <div class="item adv-3">
                <div class="content">
                  <div class="img"></div>
                  <div class="desc">提高扣款审批效率</div>
                </div>
            </div>
            <div class="item adv-4">
                <div class="content">
                  <div class="img"></div>
                  <div class="desc">提高扣款审批效率</div>
                </div>
            </div>
            <div class="item adv-5">
                <div class="content">
                  <div class="img"></div>
                  <div class="desc">提高扣款审批效率</div>
                </div>
            </div>
            <div class="item adv-6">
                <div class="content">
                  <div class="img"></div>
                  <div class="desc">提高扣款审批效率</div>
                </div>
            </div>
          </div>
      </div>
      <div class="cooperation-brand"></div>
    </div>
    <%- include('../../frontEndPartials/productCooperations') %>
    <%- include('../../frontEndPartials/knowMore') %>
    <%- include('../../frontEndPartials/footerNav') %>
    <%- include('../../frontEndPartials/footer') %>
  </body>
</html>