<!doctype html>
<html lang="zh-cn">
  <head>
    <%- include('../../frontEndPartials/header', {title: title}) %>
    <meta name="description" content="墨小数据,墨小科技,墨小协议支付,聚合支付,大额支付, 聚合签约、聚合扣款,协议签约、协议扣款,大额签约、大额扣款,智能分期扣款，智能分次扣款,智能补单，墨小数据信贷产业全周期解决方案。" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/less/jobs.css">
  </head>
  <body>
      <%- include('../../frontEndPartials/headerTop') %>
      <%- include('../../frontEndPartials/headerNav', { menuName: '' }) %>
      <div class="jobs-page">
          <div class="banner">
            <div class="item"><img src="../../images/jobs/banner-1.png"></div>
          </div>
          <div class="jobs">
              <%- include('../../frontEndPartials/partialsTitle', { title: '加入我们', desc: 'Join Us' }) %>
              <div class="content mw1200">
                <div class="job-list">
                  <div class="title">
                    <div>招聘岗位</div>
                    <div>职位类别</div>
                    <div>工作地点</div>
                    <div>招聘人数</div>
                    <div>发布时间</div>
                  </div>
                  <ul class="jobs-box" id="jobs-box">
                    <li>
                      <div class="job-tit">
                        <div class="job-name"><span class="name">UI/UX 设计</span><span class="arrow down"></span></div>
                        <div>技术类</div>
                        <div>武汉</div>
                        <div>2</div>
                        <div>2019-09-04</div>
                      </div>
                      <div class="job-detail-box none">
                          <div class="job-detail">
                              <div class="item">
                                  <div class="tit">
                                      岗位职责:
                                  </div>
                                  <div class="desc">
                                      <p>1.熟悉office,excel,ppt,visio,XMind 等软件；</p>
                                      <p>2.能熟练使用ps,flash等软件；</p>
                                      <p>3.熟悉UI前端布局（HTML5+CSS3）者更佳；</p>
                                      <p>4.负责公司产品UI界面设计及优化(包括Web、移动端)，公司产品宣传的视频制作，</p>
                                      <p>以及一些office文档和流程图制作；</p>
                                      <p>5.配合产品经理进行页面布局和效果的整体实现，跟进开发保障UI还原效果，保证最</p>
                                      <p>终输出质量.</p>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="tit">
                                      岗位要求:
                                  </div>
                                  <div class="desc">
                                      <p>1.专科及以上学历，美术相关专业毕业优先，优秀的视觉设计能力，扎实的美术基础；</p>
                                      <p>2.1-2年以上UI产品设计经验，有交互经验者优先；</p>
                                      <p>3.注重细节设计，像素眼之称，严格要求最终交付效果；</p>
                                      <p>4.与项目成员能良好沟通，有优秀团队合作精神；</p>
                                      <p>5.请在简历中附真实设计作品或链接，应聘时请提供作品。</p>
                                  </div>
                              </div>
                            </div>
                      </div>
                    </li>
                    <li>
                        <div class="job-tit">
                          <div class="job-name"><span class="name">Java工程师</span><span class="arrow down"></span></div>
                          <div>技术类</div>
                          <div>武汉</div>
                          <div>2</div>
                          <div>2019-09-04</div>
                        </div>
                        <div class="job-detail-box none">
                            <div class="job-detail">
                                <div class="item">
                                    <div class="tit">
                                        岗位职责:
                                    </div>
                                    <div class="desc">
                                        <p>1.负责公司后台系统研发和维护；</p>
                                        <p>2.负责跟前端开发对接，按照要求实现特定业务；</p>
                                        <p>3.保证能保质保量在规定时间完成任务；</p>
                                        <p>4.熟悉金融相关业务，有支付接口开发经验的优先考虑；</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="tit">
                                        岗位要求:
                                    </div>
                                    <div class="desc">
                                        <p>1.熟悉nodejs,HTML、CSS、JavaScript,Vue, typescript。</p>
                                        <p>2.了解nginx，node4j，yarn,maven。</p>
                                        <p>3.掌握vue、angular、React中的一种框架，熟悉模块化、组件化开发熟悉Webpack/Phonegap/Cordova/Grunt；</p>
                                        <p>4.精通MySQL数据库，对数据库调优有一定经验，熟悉（如MongoDB, Redis, HBase等）者优先。</p>
                                        <p>5.精通Java编程，能够熟练应用spring,mybatis,springboot,dubbo及spring cloud等主流开发框架.</p>
                                        <p>6.熟悉docker技术，熟悉阿里云产品，有实战经验者优先考虑。</p>
                                        <p>7.熟悉分布式、缓存、消息、搜索等机制,能对分布式常用技术进行合理应用。</p>
                                        <p>8.有良好的编码习惯（主要是命名规范、代码注释），Git、SVN等代码共享软件的使用。</p>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </li>
                      <li>
                          <div class="job-tit">
                              <div class="job-name"><span class="name">WEB前端工程师</span><span class="arrow down"></span></div>
                              <div>技术类</div>
                              <div>武汉</div>
                              <div>2</div>
                              <div>2019-09-04</div>
                          </div>
                          <div class="job-detail-box none">
                              <div class="job-detail">
                                  <div class="item">
                                      <div class="tit">
                                          岗位职责:
                                      </div>
                                      <div class="desc">
                                          <p>1.负责公司后台，官网，以及APP的开发和维护；</p>
                                          <p>2.负责跟后端开发对接，按照要求实现特定业务；</p>
                                          <p>3.保证能保质保量在规定时间完成任务；</p>
                                      </div>
                                  </div>
                                  <div class="item">
                                      <div class="tit">
                                          岗位要求:
                                      </div>
                                      <div class="desc">
                                          <p>1.熟练运用HTML、CSS、Javascript构建高性能的Web应用程序。</p>
                                          <p>2.熟悉HTTP、Ajax、JSON、node.js、webpack，等相关技术。</p>
                                          <p>3.能够熟练运用jquery、bootstrap、AngularJS、Vue，react，uni-app,express,viewui等框架。</p>
                                          <p>4.良好的编码习惯（主要是命名规范、代码注释），Git、SVN等代码共享软件的使用。</p>
                                          <p>5.熟练掌握App与H5交互，熟悉SDK制作；</p>
                                          <p>6.了解nginx等web服务器配置，熟悉linux命令；</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
      <script>
        var jobLi = $('#jobs-box').find('li');
        jobLi.click(function() {
          var jdb = $(this).find('.job-detail-box');
          var arrow = $(this).find('.arrow');
          jdb.toggleClass('none');
          arrow.toggleClass('down');
        });
      </script>
      <%- include('../../frontEndPartials/productCooperations') %>
      <%- include('../../frontEndPartials/knowMore') %>
      <%- include('../../frontEndPartials/footerNav') %>
      <%- include('../../frontEndPartials/footer') %>
  </body>
</html>