<!doctype html>
<html lang="zh-cn">
  <head>
    <%- include('../../frontEndPartials/header', {title: title}) %>
    <meta name="description" content="墨小数据,墨小科技,墨小协议支付,聚合支付,大额支付, 聚合签约、聚合扣款,协议签约、协议扣款,大额签约、大额扣款,智能分期扣款，智能分次扣款,智能补单，墨小数据信贷产业全周期解决方案。" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/less/solutions.css">
  </head>
  <body>
      <%- include('../../frontEndPartials/headerTop') %>
      <%- include('../../frontEndPartials/headerNav', { menuName: 'solution' }) %>
      <div class="solution-page">
          <div class="banner">
            <div class="item"><img src="/images/solutions/banner-1.png"></div>
          </div>
          <div class="solutions">
              <%- include('../../frontEndPartials/partialsTitle', { title: '解决方案', desc: 'The Solution' }) %>
              <div class="content mw1200">
                <div class="left"></div>
                <div class="right">
                    <p>墨小致力于为各大金融机构以及信贷中介提供创新、一站式 整体解决方案，利用数据、技术和信贷经纪管理提升金融服 务效率。</p>
                    <p>为你提供最全面的业务服务支持，我们正在研发助贷上面的更多产品如大数据和征信查询，让商户和客户同时拥有更好更舒服的服务体验。</p>
                </div>
              </div>
          </div>
          <div class="operations">
            <%- include('../../frontEndPartials/partialsTitle', { title: '操作流程', desc: 'Operating Procedures' }) %>
            <ul class="products-dess mw1200">
                <li class="product-1">
                  <div class="item img"></div>
                  <div class="item desc">
                    <div class="title">协议支付操作流程</div>
                    <div class="line"><span></span></div>
                    <div class="text">企业版</div>
                    <a class="link" href="javascript:void(0)">查看详情</a>
                  </div>
                </li>
                <li class="product-2">
                  <div class="item desc">
                      <div class="title">协议支付操作流程</div>
                      <div class="line"><span></span></div>
                      <div class="text">信贷员版</div>
                      <a class="link" href="javascript:void(0)">查看详情</a>
                  </div>
                  <div class="item img"></div>
                </li>
              </ul>
          </div>
          <div class="partners">
              <%- include('../../frontEndPartials/partialsTitle', { title: '城市合伙人', desc: 'City Partner' }) %>
              <div class="content mw1200">
                <ul>
                  <li>
                    <div class="item img1">
                      <div class="detail">
                          <div class="title">资源</div>
                          <div class="desc">协议代扣与金融产品强绑定，发挥虹吸效应</div>
                          <div class="desc">汇聚当地金融资源</div>
                      </div>
                    </div>
                    <div class="item img2">
                        <div class="detail">
                            <div class="title">人脉</div>
                            <div class="desc">协议代扣与金融产品强绑定，发挥虹吸</div>
                            <div class="desc">效应，汇聚当地金融资源</div>
                        </div>
                    </div>
                    <div class="item img3">
                        <div class="detail">
                            <div class="title">收益</div>
                            <div class="desc">协议代扣与金融产品强绑定，发挥虹吸</div>
                            <div class="desc">效应，汇聚当地金融资源</div>
                        </div>
                    </div>
                  </li>
                  <li>
                      <div class="item img4">
                          <div class="detail">
                              <div class="title">活动联结</div>
                              <div class="desc">协议代扣与金融产品强绑定，发挥虹吸</div>
                              <div class="desc">效应，汇聚当地金融资源</div>
                          </div>
                      </div>
                      <div class="item img5">
                          <div class="detail">
                              <div class="title">合作机构</div>
                              <div class="desc">与当地大小渠道商、贷款平台、理财FA、大型物业、行政/生活费用缴纳平台</div>
                              <div class="desc">等合作</div>
                          </div>
                      </div>
                      <div class="item img6">
                          <div class="detail">
                              <div class="title">交流平台</div>
                              <div class="desc">打造资方、渠道、第三方、第四方合作</div>
                              <div class="desc">交流平台</div>
                          </div>
                      </div>
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <%- include('../../frontEndPartials/productCooperations') %>
      <%- include('../../frontEndPartials/knowMore') %>
      <%- include('../../frontEndPartials/footerNav') %>
      <%- include('../../frontEndPartials/footer') %>
  </body>
</html>